@keyframes badgeAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: none;
    }
}

.badge {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.user-component__column .badge {
    animation: badgeAnimation 2s ease-in-out infinite;
}